<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css"> * {margin:0; padding:0; text-indent:0; }
        .s1 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 13pt; }
        .s2 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 14.5pt; }
        .s3 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 8pt; }
        .s4 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 8pt; }
        .s5 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 6.5pt; }
        .s6 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 6.5pt; }
        .s7 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 7pt; }
        .s8 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; }
        .s9 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 6.5pt; }
        .s10 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 7pt; }
        .s11 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 7pt; }
        .s12 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 7pt; }
        .s13 { color: black; font-family:"Trebuchet MS", sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 6.5pt; }
        .s14 { color: black; font-family:"Trebuchet MS", sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 7pt; }
        p { color: black; font-family:"Trebuchet MS", sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 7pt; margin:0pt; }
        h1 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 7pt; }
        .s15 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 7pt; }
        .s16 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 7pt; }
        table, tbody {vertical-align: top; overflow: visible; }
        @media print {
        #printPageButton {
            display: none;
        }
        }
    </style>
</head>
<body> 
    <table style="border-collapse:collapse;margin-left:6.215pt" cellspacing="0">
        <tr style="height:32pt">
            <td style="width:8pt;border-bottom-style:solid;border-bottom-width:1pt" rowspan="3">   
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:151pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BCBCBC;border-right-style:solid;border-right-width:1pt;border-right-color:#BCBCBC ; border-left-style:solid ;border-left-width:1pt;border-left-color:#BCBCBC; position: absolute; ">
                <p style="text-indent: 0pt;text-align: left; "><br/></p>
                <img hspace=200 width="143" height="47"  style="position: relative; bottom: -5px; left: 27px; right: 5px;" src="/images/MS_BC_PDF_TEMPLATE.png">    
            </td>
            <td style="width:12pt;border-left-style:solid;border-left-width:1pt;border-left-color:#BCBCBC">
                    <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:187pt"> 
                <p class="s1" style="padding-top: 10pt;padding-left: 60pt;text-indent: 0pt;text-align: left;">Commande :</p> 
            </td>
            <td style="width:115pt"> 
                <p class="s2" style="padding-top: 10pt;padding: left 0pt;text-indent: 0pt;text-align: left;" name="commande" id="commande" > </p> 
            </td> 
        </tr>
        <tr style="height:24pt">
            <td style="width:151pt;border-left-style:solid;border-left-width:1pt;border-left-color:#BCBCBC;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BCBCBC;border-right-style:solid;border-right-width:1pt;border-right-color:#BCBCBC">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:12pt;border-left-style:solid;border-left-width:1pt;border-left-color:#BCBCBC">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:187pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p class="s3" style="padding-left: 99pt;padding-right: 63pt;text-indent: 0pt;line-height: 9pt;text-align: center;">Date :</p>
            </td>
            <td style="width:115pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p class="s4" style="padding-top: 0pt;padding-left: 0pt;text-indent: 0pt;line-height: 9pt;text-align: left;" id="currentDate"></p>
            </td>
        </tr>
        <tr style="height:10pt">
            <td style="width:151pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BCBCBC;border-bottom-style:solid;border-bottom-width:1pt">
                <p style="text-indent: 0pt;text-align: left; margin:0">
                </p>
            </td>
            <td style="width:12pt;border-bottom-style:solid;border-bottom-width:1pt">
                <p style="text-indent:  0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:187pt;border-bottom-style:solid;border-bottom-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:115pt;border-bottom-style:solid;border-bottom-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
        </tr>
        <tr style="height:17pt">
                <td style="width:8pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt">
                    <p style="text-indent: 0pt;text-align: left;"><br/></p>
                </td>
                <td style="width:151pt;border-top-style:solid;border-top-width:1pt">
                    <p style="text-indent: 0pt;text-align: left;"><br/></p>
                    <p class="s5" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">Rue de la Croix Bande, 15</p>
                </td>
                <td style="width:12pt;border-top-style:solid;border-top-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt;text-align: left;"><br/></p>
                </td>
                <td style="width:187pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt"> 
                    <p class="s6" style="padding-top: 5pt;padding-left: 88pt;text-indent: 0pt;text-align: left;"  name="societe" >À : <span class="s4"><%=fournisseur.societe %></span></p> 
                </td>
                <td style="width:115pt;border-top-style:solid;border-top-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt;text-align: left;"><br/></p>
                </td>
        </tr>
        <tr style="height:11pt">
            <td style="width:8pt;border-left-style:solid;border-left-width:1pt">
                    <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:151pt">
                <p class="s5" style="padding-top: 1pt;padding-left: 1pt;text-indent: 0pt;text-align: left;">6900 Marloie - Marche-en-Famenne</p>
            </td>
            <td style="width:12pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:187pt;border-left-style:solid;border-left-width:1pt">
                <p class="s7" style="padding-left: 99pt;text-indent: 0pt;text-align: left;" name="nomPrenom" ><%=fournisseur.nomPrenom %></p>
            </td>
            <td style="width:115pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
        </tr>
        <tr style="height:11pt">
            <td style="width:8pt;border-left-style:solid;border-left-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:151pt">
                <p class="s5" style="padding-top: 1pt;padding-left: 1pt;text-indent: 0pt;text-align: left;">Belgique</p>
            </td>
            <td style="width:12pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:187pt;border-left-style:solid;border-left-width:1pt">
                <p class="s6" style="padding-left: 66pt;text-indent: 0pt;line-height: 9pt;text-align: left;"  name="adresse1" >Adresse : <span class="s8"> <%=fournisseur.adresse1 %> </span></p>
            </td>
            <td style="width:115pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
        </tr>
        <tr style="height:10pt">
            <td style="width:8pt;border-left-style:solid;border-left-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:151pt">
                <p class="s5" style="padding-top: 1pt;padding-left: 1pt;text-indent: 0pt;text-align: left;"  name="numUser" >Téléphone  <%=user.telephone %></p>
            </td>
            <td style="width:12pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:187pt;border-left-style:solid;border-left-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:115pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
        </tr>
        <tr style="height:11pt">
            <td style="width:8pt;border-left-style:solid;border-left-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:151pt">
                <p style="padding-top: 1pt;padding-left: 1pt;text-indent: 0pt;text-align: left;">
                    <a href="mailto:arnaud.duchateau@machinesight.eu" class="s9" target="_blank"  name="emailUser" >Email :  <%=user.email %> </a></p>
                </td>
                <td style="width:12pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt;text-align: left;">
                        <br/>
                    </p>
                </td>
                <td style="width:187pt;border-left-style:solid;border-left-width:1pt">
                    <p class="s8" style="padding-left: 99pt;text-indent: 0pt;line-height: 10pt;text-align: left;"  name="cPostalEtVille"><%=fournisseur.cPostal %>    <%=fournisseur.ville %></p>
                </td>
                <td style="width:115pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt;text-align: left;"><br/></p>
                </td>
        </tr>
        <tr style="height:20pt">
            <td style="width:8pt;border-left-style:solid;border-left-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:151pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p class="s5" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">TVA : BE 708.952.115</p>
            </td>
            <td style="width:12pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:187pt;border-left-style:solid;border-left-width:1pt">
                <p class="s8" style="padding-left: 99pt;text-indent: 0pt;line-height: 9pt;text-align: left;" name="pays"><%=fournisseur.pays%></p>
            </td>
            <td style="width:115pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
        </tr>
        <tr style="height:11pt">
            <td style="width:8pt;border-left-style:solid;border-left-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:151pt">
                <p class="s5" style="padding-top: 1pt;padding-left: 1pt;text-indent: 0pt;text-align: left;">IBAN : BE49 0689 3004 0471</p>
            </td>
            <td style="width:12pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:187pt;border-left-style:solid;border-left-width:1pt">
                <p class="s8" style="padding-left: 99pt;text-indent: 0pt;line-height: 10pt;text-align: left;" name="telephone" ><%=fournisseur.telephone %></p>
            </td>
            <td style="width:115pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
        </tr>
        <tr style="height:25pt">
            <td style="width:8pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:151pt;border-bottom-style:solid;border-bottom-width:1pt">
                <p class="s5" style="padding-top: 1pt;padding-left: 1pt;text-indent: 0pt;text-align: left;">BIC : GKCCBEBB</p>
                <p class="s5" style="padding-top: 2pt;padding-left: 1pt;text-indent: 0pt;text-align: left;">RPM : Marche - En - Famenne</p>
            </td>
            <td style="width:12pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p></td>
                <td style="width:187pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt">
                    <p class="s6" style="padding-left: 79pt;text-indent: 0pt;line-height: 9pt;text-align: left;">TVA : 
                        <span class="s8"><%=fournisseur.nTVA %></span>
                    </p>
                    <p class="s6" style="padding-left: 37pt;text-indent: 0pt;text-align: left;"  name="idFournisseur" >Code fournisseur : 
                        <span class="s7"><%=fournisseur.idFournisseur %></span></p>
                </td>
            <td style="width:115pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
        </tr>
        <tr style="height:17pt">
            <td style="width:8pt;border-top-style:solid;border-top-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:151pt;border-top-style:solid;border-top-width:1pt">
                <p class="s10" style="padding-top: 5pt;padding-left: 10pt;text-indent: 0pt;text-align: left;" name="nomPrenomUser">Acheteur :    <b><%=user.pseudo%></b></p>
            </td>
            <td style="width:12pt;border-top-style:solid;border-top-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:187pt;border-top-style:solid;border-top-width:1pt">
                <p class="s10" style="padding-top: 5pt;padding-left: 49pt;text-indent: 0pt;text-align: left;"  name="reference">Vos références : <b name="reference" id="reference"></b></p>
            </td>
            <td style="width:115pt;border-top-style:solid;border-top-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
        </tr>
        <tr style="height:10pt">
            <td style="width:8pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:151pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:12pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
            <td style="width:187pt">
                <p class="s10" style="padding-left: 45pt;text-indent: 0pt;line-height: 7pt;text-align: left;" >Date de livraison:
                    <span class="s11">  </span><b name="datedelivraisonprevue" id="datedelivraisonprevue"> </b></p>
            </td>
            <td style="width:115pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p></td>
        </tr>
    </table>
    <p style="text-indent: 0pt;text-align: left;"><br/></p>
    <table style="border-collapse:collapse;margin-left:6.215pt" cellspacing="0">
        <tr style="height:19pt">
            <td style="width:270pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s12" style="padding-top: 4pt;padding-left: 123pt;padding-right: 105pt;text-indent: 0pt;text-align: center;">Description</p>
            </td>
            <td style="width:48pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s12" style="padding-top: 5pt;padding-left: 10pt;text-indent: 0pt;text-align: left;">Quantité</p>
            </td>
            <td style="width:49pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s12" style="padding-top: 5pt;padding-left: 4pt;text-indent: 0pt;text-align: left;">Prix Unitaire</p>
            </td>
            <td style="width:45pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s12" style="padding-top: 5pt;padding-left: 10pt;text-indent: 0pt;text-align: left;">Remise</p>
            </td>
            <td style="width:61pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s12" style="padding-top: 5pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">Montant HTVA</p>
            </td>
        </tr>
    </table>
    <p style="text-indent: 0pt;text-align: left;"><br/></p>
    <table style="border-collapse:collapse;margin-left:6.215pt" cellspacing="0" id="table">
        <% for (var i=0; i<nomenclatureElemPDF.length; i++){ %>
        <tr style="height:29pt">
            <td style="width:17pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><br/></p>
                <p class="s5" style="padding-left: 6pt;text-indent: 0pt;text-align: left;"><%=i%> </p>
            </td> 
            <td style="width:253pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p class="s13" style="padding-left: 1pt;text-indent: 0pt;text-align: left;" name="idPiece" >  <%=nomenclatureElemPDF[i].idPiece %> - <%=nomenclatureElemPDF[i].denomination %> </p>
            </td>
            <td style="width:48pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p class="s14" style="padding-right: 21pt;text-indent: 0pt;text-align: right;" name="quantite" id="qte<%=i%>" > <%=nomenclatureElemPDF[i].qte %> </p>
            </td>
            <td style="width:48pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p class="s14" style="padding-right: 2pt;text-indent: 0pt;text-align: right;" name ="prixunitclient" id="prixunitclient<%=i%>"> <%=nomenclatureElemPDF[i].prixUnitClient %> </p>
            </td>
            <td style="width:45pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p class="s14" style="padding-right: 15pt;text-indent: 0pt;text-align: right;" name="remise" id="remise<%=i%>"><%=nomenclatureElemPDF[i].remise %> %</p>
            </td>
            <td style="width:62pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p class="s14" style="text-indent: 0pt;text-align: right;" name="prixNetTotal" id="prixNetTotal<%=i%>">  </p>
            </td>
            
        </tr>
        <script> 
            //Pour affichage montant HTVA
            sum = parseInt("<%=nomenclatureElemPDF.length%>");
            for (var j = 0; j<sum;j++){
                let qte = document.getElementById("qte<%=i%>").innerHTML;
                let prixunitclient = document.getElementById("prixunitclient<%=i%>").innerHTML;
                prixunitclient = prixunitclient.replace('<%=fournisseur.tauxEchange%>',''); 
                if (document.getElementById("remise<%=i%>").innerHTML.replace('%','') != ' '){ 
                    let remise = document.getElementById("remise<%=i%>").innerHTML;
                    remise = remise.replace('%',''); 
                    document.getElementById("prixNetTotal<%=i%>").innerHTML = (parseFloat(prixunitclient)*parseFloat(qte)*(1-(parseFloat(remise)/100))).toFixed(2);
                } else { 
                    let remise = 0;
                    document.getElementById("prixNetTotal<%=i%>").innerHTML = (parseFloat(prixunitclient)*parseFloat(qte)*(1-(parseFloat(remise)/100))).toFixed(2);
                }
            }
        </script>
        <% } %>
    </table>
    <p style="text-indent: 0pt;text-align: left;"><br/></p>
    <p style="padding-left: 10; text-indent: 0pt;text-align: left;">Address of delivery :</p>
    <p style="padding-left: 10; padding-top: 1pt;text-indent: 0pt;text-align: left;">MachineSight - Rue de la Croix Bande 15 - 6900 Marloie</p>
    <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">
    <p style="text-indent: 0pt;text-align: left;"><br/></p>
    <h1 style="padding-top: 3pt;padding-left: 72pt;text-indent: 0pt;text-align: left;" name="nomPrenom"> <%=user.nomPrenom %> </h1>
    <p class="s15" style="padding-top: 1pt;padding-left: 73pt;text-indent: 0pt;text-align: left;" name="poste"> <%=user.poste %> </p>
    <table style="border-collapse:collapse;margin-left:275.855pt" cellspacing="0">
        <tr style="height:9pt">
            <td style="width:48pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" rowspan="3">
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p class="s3" style="padding-left: 11pt;text-indent: 0pt;text-align: left;">TOTAL</p>
            </td>
            <td style="width:94pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s16" style="padding-left: 29pt;padding-right: 28pt;text-indent: 0pt;line-height: 8pt;text-align: center;">hTVA</p>
            </td>
            <td style="width:61pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s16" style="padding-right: 3pt;text-indent: 0pt;line-height: 8pt;text-align: right;" name="totHTVA" id="totHTVA"> 0</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:94pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s16" style="padding-top: 1pt;padding-left: 29pt;padding-right: 28pt;text-indent: 0pt;text-align: center;">TVA : 21%</p>
            </td>
            <td style="width:61pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s16" style="padding-top: 1pt;padding-right: 3pt;text-indent: 0pt;text-align: right;" name="montantTVA" id="montantTVA" >0</p>
            </td>
        </tr>
        <tr style="height:10pt">
            <td style="width:94pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-left: 29pt;padding-right: 28pt;text-indent: 0pt;line-height: 9pt;text-align: center;">TVAC</p>
            </td>
            <td style="width:61pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-right: 3pt;text-indent: 0pt;line-height: 8pt;text-align: right;" name="TVAC" id="TVAC"> 0</p>
            </td>
        </tr> 
        <script>
            //calcul case TOTAL : htva, tvac
            sum = parseInt("<%=nomenclatureElemPDF.length%>");
            for (var i=0; i<sum; i++){
                let totHTVA = document.getElementById("totHTVA");
                let montantTVA = document.getElementById("montantTVA");
                let TVAC = document.getElementById("TVAC");
                totHTVA.innerHTML = parseFloat(totHTVA.innerHTML) + parseFloat(document.getElementById("prixNetTotal"+i).innerHTML.replace('<%=fournisseur.tauxEchange%>',''));
                montantTVA.innerHTML = (totHTVA.innerHTML*0.21).toFixed(2);
                TVAC.innerHTML = (parseFloat(totHTVA.innerHTML) + parseFloat(montantTVA.innerHTML)).toFixed(2);
            } 
            //rajout valeur d'échange
            let monnaieEchange = "<%=fournisseur.tauxEchange%>";
            sum = parseInt("<%=nomenclatureElemPDF.length%>");
            for (var i=0; i<sum; i++){
                document.getElementById("prixunitclient"+i).innerHTML += " " + monnaieEchange;
                document.getElementById("prixNetTotal"+i).innerHTML += " " + monnaieEchange;
            }
            document.getElementById("totHTVA").innerHTML += " " + monnaieEchange;
            document.getElementById("montantTVA").innerHTML += " " + monnaieEchange;
            document.getElementById("TVAC").innerHTML += " " + monnaieEchange;
        </script>
    </table>
    <p style="text-indent: 0pt;text-align: left;"><br/></p> 
    <script>
        //affichage date
        date = new Date();
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("currentDate").innerHTML = month + "/" + day + "/" + year;
        document.getElementById("commande").innerHTML += year + '-' + '<%=idBonCommande%>'; 
    </script>
    <button id="printPageButton" onClick="window.print();" style="position: relative; top: 125px; left: 540px; right: 5px;">Print</button>
    <button id="printPageButton" class="button" onclick="copyToClipBoard()">Click for copy pdf name</button>
    <button id="printPageButton" onclick="window.location='../../nomenclature';" style="padding:1pt; position: relative; bottom: -150px; left: 10px; right: 5px;">Retourner liste nomenclature</button>
    <button id="printPageButton" class ="bouton" onclick= ajouteBonCommande() method="POST" style="padding: 1pt; margin-left: 50pt; position: relative; bottom: -150px; left: 10px; right: 5px;" >Enregistrement bon de commande</button>

    <input id="printPageButton" class="referenceInput" type="text" name="reference" placeholder="Inserer reference BDC" style="position: relative; bottom: -40px; left: 250px; right: 5px;" />
    <button id="printPageButton" class="bouton" onclick= ajouteReference() style="position: relative; bottom: -40px; left: 250px; right: 5px;" >Ajouter réference </button>
    <input id="printPageButton" class="dateLivraisonInput" type="date" name="dateLivraison" placeholder="Inserer date livraison BDC" style="position: relative; bottom: -70px; left: 10px; right: 5px;" />
    <button id="printPageButton" class="bouton" onclick= ajouteDateLivraison() style="position: relative; bottom: -70px; left: 10px; right: 5px;" >Ajouter dateLivraison </button>

    <script charset="utf-8" >
        function ajouteBonCommande() {
            let idBonCommande = '<%=idBonCommande%>';
            let idProjet = "<%=nomenclatureElemPDF[0].idProjet%>";
            let idFournisseur = "<%=fournisseur.idFournisseur%>";
            let pseudo = "<%=user.pseudo%>";
            let TVAC = document.getElementById("TVAC").innerHTML.replace(monnaieEchange,''); //prixTotal
            let dateCommande = document.getElementById("currentDate").innerHTML;
            let numOffreFournisseur = document.getElementById("reference").innerHTML;
            let dateLivraison = document.getElementById("datedelivraisonprevue").innerHTML;
            
            let mesArticles = [];
            <% for (var i=0; i<nomenclatureElemPDF.length; i++){ %>
                mesArticles.push(<%=nomenclatureElemPDF[i].pkNomenclature%>);
            <% } %> 
            
            data = {idBonCommande, idProjet, idFournisseur, pseudo, TVAC, dateCommande, numOffreFournisseur, mesArticles,dateLivraison};
            const options = {
                    method: 'POST',
                    redirect: 'follow',
                    headers: {
                    'Content-Type':'application/json; charset=utf-8'
                    },
                body: JSON.stringify(data)
                };
            fetch('../../bonCommande/enregistrement', options);
        }

        const copyToClipBoard = function(){
            var target = document.getElementById("commande").innerHTML + "-" + "<%=fournisseur.listeFournisseur%>" + "-" + "<%=nomenclatureElemPDF[0].idProjet%>";
            const tempArea = document.createElement('textarea');
            tempArea.value = target;
            document.body.appendChild(tempArea);
            tempArea.select();
            document.execCommand('copy');
            document.body.removeChild(tempArea);
        }

        let iterate = parseInt('<%=iterate%>');
        //Pour afficher next bon de commande associé au fournisseur
        window.onload = function(){
            if (iterate>1){
                if (confirm("Voulez vous ouvrir le BDC du prochain fournisseur?")){
                    var href = '/nomenclature/inter/commandePDF';
                    window.open(href); 
                } else{
                    console.log("canceled");
                } 
            }
            else{
            console.log("canceled");
            }
        }
        function ajouteReference() {
            let referenceInput = document.getElementsByClassName("referenceInput")[0].value;
            let reference = document.getElementById("reference");
            reference.innerHTML = referenceInput;
        }
        function ajouteDateLivraison() {
            let referenceInput = document.getElementsByClassName("dateLivraisonInput")[0].value;
            let reference = document.getElementById("datedelivraisonprevue");
            reference.innerHTML = referenceInput;
        }
    </script>
</body>
</html>
