<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta htpp-equiv="Content-language" content="fr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>ERP Machine Sight</title>
</head>
<body>
    <span id="menu" onclick="openNav()">Menu</span>
    <h1> ERP </h1>
    <h2> Liste Nomenclatures </h2>
    
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class ="bouton" href="/nomenclature/fournisseur">Liste fournisseurs</a>
        <a class ="bouton" href="/nomenclature/bonCommande">Liste bons commande</a>
        <a class ="bouton" href="/nomenclature/projet">Liste projets</a>
        <a class ="bouton" href="/connection">Connection</a>
    </div>

    <a class ="bouton" href="/nomenclature/resetPanier">Reset panier bon </a>
    <a class ="bouton" href="/nomenclature/inter/commandePDF"> Génère PDF bon </a>
    <a class ="bouton" onclick= ajoutePDF() >Ajoute ref bon</a>
    
    <label for="reference">Reference :</label> <input id="reference" type="text" name="reference" placeholder="Inserer reference bon commande" />

    <label for="selectionRecherche">Choisir filtre </label>
    <select name="selectionRecherche" id="selectionRecherche">
        <label>Choissir colonne de filtre</label>
        <option value="1">idNomenclature</option>
        <option value="2">idPiece</option>
        <option value="3">denomination</option>
        <option value="4">n_piece_plan</option>
        <option value="5">rev</option>
        <option value="8">matiere</option>
        <option value="14">fournisseur</option>
        <option value="15">refDescriptionFournisseur</option>
        <option value="21">prixtotalclient</option>
        <option value="23">statut</option>
        <option value="26">numProjet</option>
        <option value="27">nomProjet</option>
        <option value="28">client</option>
    </select>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for..">

    <form action="/upload-avatar" enctype="multipart/form-data" method="post">
        <label style="font-weight:bold;">Upload nomenclature</label>
        <input type="file" name="fileUpload" >
        <input type="submit">
    </form>  

    <div id="reaffiche"></div>

    <table id="myTable">
            <tr class="header">
                <th>Ajout bon commande</th>
                <th>idNomenclature</th>
                <th>idPiece</th>
                <th>denomination</th>
                <th>idProjet</th>
                <th>rev</th>
                <th>qte</th>
                <th>unite</th>
                <th>matiere</th>
                <th>brut</th>
                <th>realisation</th>
                <th>finition</th>
                <th>traitementDeSurface</th>
                <th>planEdite</th>
                <th>fournisseur</th>
                <th>refFournisseur</th>
                <th>dateLivraisonPrevue</th>
                <th>statut</th>
                <th>bonDeCommande</th>
                <th>commentaire</th>                
                <th>nomProjet</th>
                <th>client</th>
                <th>idFournisseur</th>                
                <th>prixUnitMS</th>
                <th>prixUnitClient</th>
                <th>remise</th>
                <th>prixNetTotal</th>
                <th>marge</th>
                <th>prixTotalClient</th>
                <th>effectue</th>
                <th>refCommande</th>
                <th>montantDepense</th>
                <th>par</th>
            </tr>
            <% for (var i=0; i<nomenclature.length; i++){ %>
            <tr>
                    <td>
                        <a class="bouton" href="/nomenclature/<%=nomenclature[i].idNomenclature %>">Ajout bon commande</a>
                    </td>
                    <td id="idNomenclature<%=i%>" name="idNomenclature"> 
                        <%=nomenclature[i].idNomenclature%> 
                    </td> 
                    <td contenteditable='true' id="<%=i%>" class="idPiece">
                        <%=nomenclature[i].idPiece %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="denomination">
                        <%=nomenclature[i].denomination %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="idProjet1" >
                        <%=nomenclature[i].idProjet1 %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="rev" >
                        <%=nomenclature[i].rev %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="qte">
                        <%=nomenclature[i].qte %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="unite">
                        <%=nomenclature[i].unite %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="matiere">
                        <%=nomenclature[i].matiere %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="brut">
                        <%=nomenclature[i].brut %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="realisation">
                        <%=nomenclature[i].realisation %> 
                    </td>
                    <td  contenteditable='true' id="<%=i%>" class="finition">
                        <%=nomenclature[i].finition %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="traitementDeSurface">
                        <%=nomenclature[i].traitementDeSurface %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="planEdite">
                        <%=nomenclature[i].planEdite %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="fournisseur">
                        <%=nomenclature[i].fournisseur %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="refFournisseur">
                        <%=nomenclature[i].refFournisseur %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="livraisonPrevue">
                        <%=nomenclature[i].livraisonPrevue %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="statut">
                        <%=nomenclature[i].statut %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="idBonCommande1">
                        <%=nomenclature[i].idBonCommande1 %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="commentaire">
                        <%=nomenclature[i].commentaire %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="nomProjet">
                        <%=nomenclature[i].nomProjet %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="client">
                        <%=nomenclature[i].client %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="idFournisseur1">
                        <%=nomenclature[i].idFournisseur1 %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="prixUnitMs">
                        <%=nomenclature[i].prixUnitMs %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="prixUnitClient">
                        <%=nomenclature[i].prixUnitClient %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="remise">
                        <%=nomenclature[i].remise %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="prixNetTotal">
                        <%=nomenclature[i].PrixNetTotal %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="marge">
                        <%=nomenclature[i].marge %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="prixTotalClient">
                        <%=nomenclature[i].prixTotalClient %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="effectue" >
                        <%=nomenclature[i].effectue %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="refCommande" >
                        <%=nomenclature[i].refCommande%> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="montantDepense" >
                        <%=nomenclature[i].montantDepense %> 
                    </td>
                    <td contenteditable='true' id="<%=i%>" class="par" >
                        <%=nomenclature[i].par %> 
                    </td>
            </tr>
            <% } %> 
    </table>

    <script>
        function openNav() {
            //Pour menu navigation
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
        }

        function ajoutePDF() {
            let reference = document.getElementById("reference").value;
            data = {reference};
            const options = {
                    method: 'POST',
                    headers: {
                    'Content-Type':'application/json'
                    },
                body: JSON.stringify(data)
                };
            fetch('./nomenclature/inter/ajoutPDF', options);
        }

        function myFunction() {
            // fonction filtre-recherche
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            a = document.getElementById("selectionRecherche").value;
            // Loop tr
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[a];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    } else {
                    tr[i].style.display = "none";
                    }
                }
            }
        }

        //Pour trigger modification et envoyer avec post method
        var all = document.getElementsByTagName("td");
        for (var j=0; j<all.length;j++){
            all[j].addEventListener("input", function(e) {
                const newData = this.innerHTML;
                let stringID = 'idNomenclature' + this.id;
                const myID = document.getElementById(stringID).innerHTML;
                const myColumn = this.className;
                const data = {newData, myID, myColumn};
                const options = {
                    method: 'POST',
                    headers: {
                    'Content-Type':'application/json'
                    },
                body: JSON.stringify(data)
                };
                fetch('./nomenclature/inter/modification', options);
                e.stopPropagation();
            }, false);       
        }
        
        //Pour affichage ou pas des colonnes visible
        var delC =null, oTh =  null;
        document.addEventListener('DOMContentLoaded',function(){
            //reperage click
            oTable = document.getElementById('myTable');
            oTh = oTable.getElementsByTagName('th');
            for(var i = 0; i<oTh.length; i++){
                oTh[i].addEventListener('click',  supprimerColonne);
            }
        });
        
        function supprimerColonne(oEvent){
            var sClassHide = 'cel-hide',oEle = oEvent.currentTarget,
                oTable = oEle.parentNode.parentNode.parentNode,
                iIndex = oEle.cellIndex,
                oTd = oTable.querySelectorAll('td:nth-child('+(iIndex+1)+')'), 
                iNbTd = oTd.length;
            for(var i = 0; i< iNbTd; i++){
                oTd[i].classList.add(sClassHide);
            }
            oEle.classList.add(sClassHide);
            addAfficher(iIndex);
        }
        
        function names(iIndex){
            let res;
            switch(iIndex){
                case 1:
                    res = 'idNomenclature'
                    break;
                case 2:
                    res = "idPiece";
                    break;
                case 3:
                    res = "denomination";
                    break;
                case 4:
                    res = "idProjet";
                    break;
                case 5:
                    res = "rev";
                    break;
                case 6:
                    res = "qte";
                    break;
                case 7:
                    res = "unite";
                    break;
                case 8:
                    res = "matiere";
                    break;
                case 9:
                    res = "brut";
                    break;
                case 10:
                    res = "realisation";
                    break;
                case 11:
                    res = "finition";
                    break;
                case 12:
                    res = "traitement de surface";
                    break;
                case 13:
                    res = "plan edite";
                    break;
                case 14:
                    res = "fournisseur";
                    break;
                case 15:
                    res = "ref fournisseur";
                    break;
                case 16:
                    res = "livraison prevu";
                    break;
                case 17:
                    res = "statut";
                    break;
                case 18:
                    res = "idBonCommande";
                    break;
                default:
                    res = iIndex;
            }
            return res;
        }

        function addAfficher(iIndex){
            var oBloc = document.getElementById("reaffiche");
            let cellName = names(iIndex);
            oBloc.innerHTML += '<a href="javascript:reAfficher('+iIndex+')" id="col-'+iIndex+'">Réaffiche colonne '+cellName+'</a><br>';
        }
        
        function reAfficher(iIndex){
            document.getElementById("col-"+iIndex).remove();
            var sClassHide = 'cel-hide',
                oTable = document.getElementById("myTable"),
                oTd = oTable.querySelectorAll('td:nth-child('+(iIndex+1)+')'), 
                iNbTd = oTd.length;
            for(var i = 0; i< iNbTd; i++){
                oTd[i].classList.remove(sClassHide);
            }
            oTable.querySelector('th:nth-child('+(iIndex+1)+')').classList.remove(sClassHide);
        }
        </script>
</body>
</html>