<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>ERP Machine Sight</title>
</head>
<body>
    <span id="menu" onclick="openNav()"> Menu </span>
    <h1> ERP </h1>
    <h2> Liste des projets </h2>
    <div id="alert"></div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a class ="bouton" href="/fournisseurs">Liste fournisseurs</a>
      <a class ="bouton" href="/bonCommande">Liste bons commande</a>
      <a class ="bouton" href="/nomenclature">Liste nomenclatures</a>
      <a class ="bouton" href="/connection">Connection</a>
    </div>
    
    <a class ="bouton" href="/projet/ajoutProjet">Ajouter projet</a>
    <a class ="bouton" href="javascript:void(0)" onclick="selectAll()">Selectionner tout</a>
    <a class ="bouton" href="/projet/modifAllForm">Modifier panier tout</a>
    <a class ="bouton" href="/projet/majPrixTotal">Mettre à jour prix total</a>

    <label for="selectionRecherche">Choose search column </label>
    <select name="selectionRecherche" id="selectionRecherche">
      <label>Choissir colonne de recherche</label>
      <option value="1">idProjet</option>
        <option value="2">Nom</option>
        <option value="3">Description</option>
        <option value="4">prixTotalNomenclature</option>
        <option value="5">prixTotalBonCommande</option>
    </select>
    <input type="text" id="myInput" onkeyup="myFilter()" placeholder="Search for..">
    
    <input type="number" id="pwProcess" onkeyup="checkPassword()" placeholder="password kill process" style="position: absolute; right: 10%; top: 10%;">
    
    <table id="myTable">
        <tr class="header">
            <th>Delete</th>
            <th>idProjet</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix Tot. NMCLT</th>
            <th>Prix Tot. BDC</th>
            <th>Nature projet</th>
        </tr>
        <% for (var i=0; i<projet.length; i++){ %>
        <tr>
            <td>
              <a class="bouton" href="/projet/<%=projet[i].idProjet %> ">Delete projet</a>
            </td>
            <td id="idProjet<%=i%>" name="idProjet" class="idProjet" onclick="pageProjet(<%=i%>)">
                <%=projet[i].idProjet %> 
            </td>
            <td contenteditable='true' id="<%=i%>" class="nom" >
                <%=projet[i].nom %> 
            </td>
            <td contenteditable='true' id="<%=i%>" class="description">
                <%=projet[i].description %> 
            </td>
            <td contenteditable="true" id="<%=i%>" class="prixTotalNomenclature">
                <%=projet[i].prixTotalNomenclature %>
            </td>
            <td contenteditable="true" id="<%=i%>" class="prixTotalBonCommande">
              <%=projet[i].prixTotalBonCommande %>
            </td>
            <td>
              <select name="<%=projet[i].natureProjet%>" class="natureProjet" id="<%=i%>" onchange="changeNatureProjet(this, <%=i%>)">
                <option></option>
                <option id="vision<%=i%>"> Vision</option>
                <option id="machine<%=i%>" > Machine</option>
                <option id="machineVision<%=i%>"> Machine&Vision</option>
              </select>
            </td>
        </tr>
        <% } %> 
    </table>

    <script>
      /* pour menu nav*/
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
      }
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.body.style.backgroundColor = "white";
      }

      window.onload = function() {
        //Deplace le selected pour natureProjet de options sur données BDD 
        let natureProjet = document.getElementsByClassName("natureProjet");
        for (var i=0; i<natureProjet.length; i++){
          let name = natureProjet[i].getAttribute("name");
          let myID = natureProjet[i].getAttribute("id");
          let mySelected;  
          switch (name) {
            case "Machine": 
              mySelected = document.getElementById("machine"+myID);
              mySelected.selected = true
              break;
            case "Vision":
              mySelected = document.getElementById("vision"+myID);
              mySelected.selected = true
              break;
            case "Machine&Vision":
              mySelected = document.getElementById("machineVision"+myID);
              mySelected.selected = true
              break;
            default:
              console.log("Pas la bonne valeur natureProjet");
          }             
        }
      }
      
      function pageProjet(id) {
        let idProjet = document.getElementById("idProjet"+id).innerHTML.trim();
        if (confirm('Tu veux naviguer vers la page projet de '+ idProjet +' ?')) {
          var href = '/pagePerso/projet/'+idProjet;
          window.open(href);
        } else {
          console.log('Cancel');
        }
      }

      function myFilter() {
        //Fonction recherche element sur base filtre 
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        a = document.getElementById("selectionRecherche").value;
        //Loop td
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[a];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
      
      function checkPassword() {
        let input = document.getElementById("pwProcess").value;
        if (input==6900){
          console.log("process stop")
          var href = '/projet/processStop'
          window.open(href);
        } else {
          console.log("Touche pas à ça petit con - Pitivier")
        }
      }

      function selectAll() {
        //Selectioner tout les id et les renvoyer au controller
        let idProjets = [];
        if (document.readyState !== 'loading') {
          // Attendre que elements soient chargé
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
          for (var i=1; i<tr.length; i++){
            //Parcourir tag tr et boucle condit sur if
            let elem = 0;
            if (tr[i].style.display=="") {
              elem = document.getElementById("idProjet"+ (i - 1));
              idProjets.push(elem.innerHTML.trim());
            }
          }
          const data = {idProjets};
          const options = {
              method: 'POST',
              headers: {
              'Content-Type':'application/json'
              },
          body: JSON.stringify(data)
          };
          fetch('./projet/selectAll', options);
        }
      }
      //Pour trigger modification et envoyer avec post method
      var all = document.getElementsByTagName("td");
      for (var j=0; j<all.length;j++){
          all[j].addEventListener("input", function(e) {
              const newData = this.innerHTML;
              let stringID = 'idProjet' + this.id;
              const myID = document.getElementById(stringID).innerHTML;
              const myColumn = this.className;
              const data = {newData, myID, myColumn};
              const options = {
                  method: 'POST',
                  headers: {
                  'Content-Type':'application/json'
                  },
              body: JSON.stringify(data)
              };
              fetch('./projet/inter/modification', options);
              e.stopPropagation();
          }, false);       
      }

      function changeNatureProjet(selectObject, id){
        const newData = selectObject.value;  
        let stringID = 'idProjet'+id;
        const myID = document.getElementById(stringID).innerHTML;
        const myColumn = "natureProjet";
        const data = {newData, myID, myColumn};
              const options = {
                  method: 'POST',
                  headers: {
                  'Content-Type':'application/json'
                  },
              body: JSON.stringify(data)
              };
              fetch('./projet/inter/modification', options);
      }
      </script>
</body>
</html>